

h3{

    font-size: 30px;
    color: gray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.second-blog{

    display: none;
    /* visibility : hidden*/
}

.fifth-blog{

    /* visibility: hidden; */
    visibility: visible;
}


.blog{

    margin: 30px;
    border: 10px solid darkkhaki;
    padding: 10px 50px;
    text-align: justify;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.682);
}

.lorem{

    border: 4px solid pink;
    display: block;
}

li{

    display:inline-block;
    margin: 10px;
    border: 2px solid gold;
}


header{

    height: 400px ;
    /* background-image:url('../images/images.jpeg'); */
    background-image: url(../../../images/gettyimages-1563337332-612x612.jpg);
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: contain; */
    background-size: cover;
    /* background-size: 500px; */
}

.dolor{

    border: 2px solid peru;
    /* 2px - is only for width because we can't set the height for inline element*/
    height: 50px;
    /* display: block; */
    display: inline-block;

}